<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido Mana</title>
    <link rel="icon" href="../img/mana.png" type="image/png">
    <link rel="stylesheet" href="../css/bootstrap.css">
</head>
<body class="bg-dark">
    <div class="container w-75 mt-5 rounded-4 shadow-lg p-0 overflow-hidden bg-color-of-body">
        <div class="text-end p-3">
            <a href="../index.html">
                <button type="button" class="btn btn-secondary text-white">Cerrar sesión</button>
            </a>
        </div>

        <div class="d-flex flex-column justify-content-center align-items-center p-5" style="min-height: 400px;">
            <img src="../img/mana.png" alt="logo" class="mb-3" style="width: 200px; height: auto;">
            <h1 id="resultado"class="fw-bold text-center text-white"></h1>
            <h4 class="py-2 text-center text-white">Por favor elija qué hacer</h4>
            
            <div class="d-flex flex-wrap justify-content-center gap-3 mt-3 w-100">
                <a href="./menu.html" class="btn btn-sign btn-custom text-white fw-semibold py-3 px-4 flex-fill text-center" style="max-width: 200px;">Ver menú</a>
                <a href="./pedidos.html" class="btn btn-sign btn-custom text-white fw-semibold py-3 px-4 flex-fill text-center" style="max-width: 200px;">Ver pedidos</a>
                <a href="./ventas.html" class="btn btn-sign btn-custom text-white fw-semibold py-3 px-4 flex-fill text-center" style="max-width: 200px;">Total de ventas</a>
                <a href="./estadisticas.html" class="btn btn-sign btn-custom text-white fw-semibold py-3 px-4 flex-fill text-center" style="max-width: 200px;">Ver estadisticas</a>
            </div>
            </div>
        </div>
    </div>
    <script src="../js/nombres.js"></script>
</body>
</html>
