<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Promociones</title>
    <link rel="icon" href="../img/mana.png" type="image/png">
    <link rel="stylesheet" href="../css/bootstrap.css">
</head>

<body class="bg-dark">
    <div class="container w-75 mt-5 rounded-4 shadow-lg p-0 overflow-hidden bg-color-of-body">
        <div class="text-end p-3">
            <a href="./menu.html">
                <button type="button" class="btn btn-secondary text-white">Volver</button>
            </a>
            <a href="../index.html">
                <button type="button" class="btn btn-secondary text-white">Cerrar sesión</button>
            </a>
        </div>

        <div class="d-flex flex-column justify-content-center align-items-center p-5" style="min-height: 400px;">
            <img src="../img/mana.png" alt="logo" style="width: 200px; height: auto; margin-bottom: 20px;">

            <div class="container py-5">
                <h1 class="text-center mb-5 text-white">Promociones</h1>

                <div id="menu" class="row row-cols-1 row-cols-md-3 g-4">

                </div>
            </div>
        </div>
    </div>
    <script src="../js/promociones.js"></script>
</body>

</html>